.react-datepicker__day.datepicker-red {
  color: #e53935 !important;
  font-weight: bold;
}

.react-datepicker-popper {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 9999 !important;
}
